<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace属性:对应的接口文件的全名 -->
<mapper namespace="cn.tedu.store.mapper.AddressMapper">
	<!--插入收货地址数据 -->
	<!--Integer insert(Address address);  -->
<insert id="insert"
			useGeneratedKeys="true"
			keyProperty="aid">
			INSERT INTO t_address (
				uid, name,
				province_name, province_code,
				city_name, city_code,
				area_name, area_code,
				address, zip,
				phone, tel,
				tag, is_default,
				created_user, created_time,
				modified_user, modified_time
			) VALUES (
				#{uid}, #{name},
				#{provinceName}, #{provinceCode},
				#{cityName}, #{cityCode},
				#{areaName}, #{areaCode},
				#{address}, #{zip},
				#{phone}, #{tel},
				#{tag}, #{isDefault},
				#{createdUser}, #{createdTime},
				#{modifiedUser}, #{modifiedTime}
			)
		</insert>
		
	
	<!--统计某用户的收货地址数据的数量 -->
	<!--Integer countByUid(Integer aid);  -->
	<select id="countByUid" resultType="java.lang.Integer">
		select count(*) from t_address where uid=#{uid};
	</select>	
	
	<!--查询用户的收货地址resultMap配置  -->
	<resultMap type="cn.tedu.store.entity.Address" id="AddressEntityMap">
	<id  column="aid"  property="aid"/>
	<result column="province_name"  property="provinceName"/>
	<result column="province_code"  property="provinceCode"/>
	<result column="city_name"  property="cityName"/>
	<result column="city_code"  property="cityCode"/>
	<result column="area_name"  property="areaName"/>
	<result column="area_code"  property="areaCode"/>
	<result column="is_default"  property="isDefault"/>
	<result column="created_user"  property="createdUser"/>
	<result column="created_time"  property="createdTime"/>
	<result column="modified_user"  property="modifiedUser"/>
	<result column="modified_time"  property="modifiedTime"/>
	</resultMap>
	
	<!--查询用户的收货地址  -->
	<!--List<Address> findByUid(Integer uid);  -->
	<select id="findByUid" resultMap="AddressEntityMap">
	select
		 * 
	 from 
		 t_address 
	 where 
		 uid=#{uid} 
	 order by 
	 	 is_default  desc ,modified_time  desc
	</select>
	
	<!-- 将某用户的所有收货地址全部设置为非默认 -->
	<!--Integer updateNonDefaultByUid(Integer uid);  -->
	<update id="updateNonDefaultByUid">
		update t_address set is_default=0 where uid=#{uid}
	</update>
	
	<!--根据收货地址id查询详情  -->
	<!--Address findByAid(Integer aid);  -->
	<select id="findByAid" resultMap="AddressEntityMap">
		select * from t_address where aid=#{aid}
	</select>
	
	<!-- 将指定的收货地址设置为默认 -->
	<!--Integer updateDefaultByAid(@Param("aid")Integer aid,
							   @Param("modifedUser")String modifedUser,
							   @Param("modifiedTime")Date modifiedTime);  -->
	<update id="updateDefaultByAid">
	update 
		t_address 
	set 
		is_default=1 ,modified_user=#{modifiedUser},
		 modified_time=#{modifiedTime} 
	where
		 aid=#{aid}
	</update>
	
	<!--根据收货地址id删除  -->
	<!--Integer deletByAid(Integer aid);  -->
	<delete id="deletByAid">
		delete from t_address where aid=#{aid}
	</delete>
	
	<!--查询最后修改的收货地址，  -->
	<!-- Address findLastModifiedTime(Integer uid); -->
	<select id="findLastModifiedTime" resultMap="AddressEntityMap">
		SELECT 
			* 
		FROM 
			t_address 
		WHERE 
			uid=#{uid} 
		ORDER BY 
			is_default DESC, modified_time DESC limit 0,1
	</select>
</mapper>